<% var cf_raw = description.split("Clinical Focus:")[1] 
if (cf_raw != undefined) {
  var cf = cf_raw.split("),")[0] -%>
    <label>Clinical Focus:</label> <%- cf && cf.trim() != '' ? cf + "<br>" : '<span class="na">n/a</span>' %>
  <% des_raw = description.split("Data Element Scope:")[1] 
    var des = des_raw.split("),")[0] -%>
    <label>Data Element Scope:</label> <%- des && des.trim() != '' ? des + "<br>" : '<span class="na">n/a</span>' %>
  <% ic_raw = description.split("Inclusion Criteria:")[1] 
    var ic = ic_raw.split("),")[0] -%>
    <label>Inclusion Criteria:</label> <%- ic && ic.trim() != '' ? ic + "<br>" : '<span class="na">n/a</span>' %>
  <% ec_raw = description.split("Exclusion Criteria:")[1] 
    var ec = ec_raw.split(")")[0] -%>
    <label>Exclusion Criteria:</label> <%- ec && ec.trim() != '' ? ec + "<br>" : '<span class="na">n/a</span>' %>
  <% var constraints = description.split("-- ")[1];
    if (valueSet) { %>
      <p><%- valueSet %></p>
    <% } else if (constraints && constraints.trim() != '') { -%>
      <%- makeHtml(cleanConstraints(constraints.trim())) -%>
    <% } %>
<% } %>
