<% var cf_raw = description.split("Clinical Focus:")[1] 
if (cf_raw != undefined) {
  var cf = cf_raw.split("),")[0] -%>
    <div><b>Clinical Focus: </b><%= cf %></div>
  <% des_raw = description.split("Data Element Scope:")[1] 
    var des = des_raw.split("),")[0] -%>
    <div><b>Data Element Scope: </b><%= des %></div>
  <% ic_raw = description.split("Inclusion Criteria:")[1] 
    var ic = ic_raw.split("),")[0] -%>
    <div><b>Inclusion Criteria: </b><%= ic %></div>
  <% ec_raw = description.split("Exclusion Criteria:")[1] 
    var ec = ec_raw.split(")")[0] -%>
    <div><b>Exclusion Criteria: </b><%= ec %></div>
  <% constaints = description.split("-- ")[1] -%>
    <div><%= constaints %></div>
<% } %>