<div class="data-element">
  <div class="de-definition">
    <div class="de-title">
    <% if ('title' in field) { %>
      <%= titleize(field.title) %>
    <% } else { %>
      <a href="../<%= field.path %>/<%= field.name %>.html"><%= titleize(field.name) %></a>
    <% } %>
    </div>
    <dt>Value Set Description from VSAC:</dt>
    <% if (field.path == 'ecqm-dataelement') { %>
      <div><%- include('./dataElementDescription', { description: field.description, valueSet: findValueSet(dataElements[field.fqn], dataElements) }) -%></div>
      <% basedOn = dataElements[dataElements[field.fqn].basedOn[0]] %>
      <% if (basedOn.namespace == "qdm.attribute" ) { %>
        <div><b>QDM Attribute - <%= titleize(basedOn.name) %>:</b> <%= basedOn.description %></div>
      <% } else { %>
        <div><b>QDM Datatype - <%= titleize(basedOn.name) %>:</b> <%= basedOn.description %></div>
      <% } %>
    <% } else { %>
      <div><%- makeHtml(field.description) %></div>
    <% } %>
  </div>
</div>
