<div class="data-element">
  <div class="de-definition">
    <div>
    <% if ('title' in field) { %>
      <%= titleize(field.title) %>
    <% } else { %>
      <a href="../<%= field.path %>/<%= field.name %>.html"><%= titleize(field.name) %></a>
    <% } %>
    </div>
    <dt>Value Set Description from VSAC:</dt>
    <% if (field.path == 'ecqm-dataelement') { %>
      <div><%- include('./dataElementDescription', { description: field.description, valueSet: findValueSet(dataElements[field.fqn], dataElements) }) -%></div>
      <% basedOn = dataElements[dataElements[field.fqn].basedOn[0]] %>
      <div><b>QDM Datatype - <%= titleize(basedOn.name) %>:</b> <%= basedOn.description %></div>
    <% } else { %>
      <div><%- makeHtml(field.description) %></div>
    <% } %>
  </div>
  <% if ((field.pConstraints.length > 0) && !element.namespace.includes("ecqm.measure")) { %>
    <div class="de-constraints">
      <b>Constraints:</b>
      <ul>
        <% field.pConstraints.forEach(function(constraint) { -%>
          <li class="constraint">
            <div class="constraint_label"><code><%= constraint.name %></code></div>
            <div class="constraint_value">
              <% if (constraint.href) { -%>
                <%= constraint.front %>
                <% if (constraint.targetTop) { -%>
                <a href="<%= constraint.href %>" target="_top">
                  <%= constraint.value %></a>
                <% } else { -%>
                <a href="<%= constraint.href %>">
                  <%= titleize(constraint.value) %></a>
                <% } -%>
                <%= constraint.back %>
              <% } else { -%>
                <%- makeHtml(constraint.value) %>
              <% } -%>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>
</div>
