<% element.overridden.forEach(function(constraint, index) { -%>
  <div class="data-element">
    <div class="de-definition">
      <code><strong><%= constraint.path %></strong></code>
      <% if (constraint.sourceHref) { %>
        <div class="block">Defined in <a href="<%= constraint.sourceHref %>"><%= constraint.source %></a></div>
      <% } else { %>
        <div class="block">Defined in <%= constraint.source %></div>
      <% } %>
    </div>
    <div class="de-constraints">
      <code><strong><%= constraint.name %></strong></code>
      <% if (constraint.overrideHref) { %>
        <div class="block">Constrained in <a href="<%= constraint.overrideHref %>"><%= constraint.override %></a></div>
      <% } else { %>
        <div class="block">Constrained in <%= constraint.override %></div>
      <% } %>
    </div>
    <div class="de-value">
      <% if (constraint.href) { -%>
        <div class="block">
          <%= constraint.front %>
          <% if (constraint.targetTop) { -%>
            <a href="<%= constraint.href %>" target="_top"><%= constraint.value %></a>
          <% } else { -%>
            <a href="<%= constraint.href %>"><%= constraint.value %></a>
          <% } -%>
          <%= constraint.back %>
        </div>
      <% } else { -%>
        <div class="block"><%- makeHtml(constraint.value) %></div>
      <% } -%>
    </div>
  </div>
<% }) -%>
