<% element.overridden.forEach(function(constraint, index) { -%>
  <div class="data-element">
    <div class="de-definition">
      <%= constraint.path %>
      <% if (constraint.sourceHref) { %>
        <div>Defined in <a href="<%= constraint.sourceHref %>"><%= constraint.source %></a></div>
      <% } else { %>
        <div>Defined in <%= constraint.source %></div>
      <% } %>
    </div>
    <div class="de-constraints">
      <div class="de-title"><%= constraint.name %></div>
      <% if (constraint.overrideHref) { %>
        <div>Constrained in <a href="<%= constraint.overrideHref %>"><%= constraint.override %></a></div>
      <% } else { %>
        <div>Constrained in <%= constraint.override %></div>
      <% } %>
    </div>
    <div class="de-value">
      <% if (constraint.href) { -%>
        <div>
          <%= constraint.front %>
          <% if (constraint.targetTop) { -%>
            <a href="<%= constraint.href %>" target="_top"><%= constraint.value %></a>
          <% } else { -%>
            <a href="<%= constraint.href %>"><%= constraint.value %></a>
          <% } -%>
          <%= constraint.back %>
        </div>
      <% } else { -%>
        <div><%- makeHtml(constraint.value) %></div>
      <% } -%>
    </div>
  </div>
<% }) -%>
