<div id="data_element_id"><%= drupalVars.idFor(pageName); %></div>
<div id="data_element_version"><%= drupalVars.exportVersion; %></div>
<div id="data_element_date"><%= drupalVars.exportTime; %></div>
<div id="data_element_summary">
  <% if (locals.element) { -%>
    <div>
      <% if (element.namespace == "ecqm.dataelement") { %>
      <%- include('./tables/dataElementDescription', { description: element.description, valueSet: findValueSet(element, dataElements) }) -%>
      <% } else { -%>
      <div class="block">
        <%- makeHtml(element.description) -%>
      </div>
      <% } -%>
    </div>
  <% } -%>
</div>
<div id="data_element_cms_id"><%_ if (locals.element && element.namespace.includes("ecqm.measure")) { %><%= element.name; _%><%_ } _%></div>
