<%- include('_header'); -%>
<%- include('_drupal_elements', { pageName: `${metaData.projectShorthand}-dataElement-${element.namespace}-${element.name}`, element: element }); _%>

<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav">
  <a name="navbar_top">
  </a>
  <a href="#skip-navbar_top" title="Skip navigation links"></a>
  <a name="navbar_top_firstrow"></a>
  <ul class="navList" title="Navigation">
    <li class="navBarCell1Rev">
      <a href="../overview-summary.html">Back to overview</a>
    </li>
  </ul>
  <div class="aboutLanguage">
    <em>
      Data Element Repository Version 1.0.0
    </em>
  </div>
</div>
<!-- ========= END OF TOP NAVBAR ========= -->
  <a name="skip-navbar_top"></a>
  <!-- ======== START OF CLASS DATA ======== -->

  <div class="title-cover background-lines-effect content-page data-element-page">
    <% if (element.namespace.includes("ecqm.measure")) { -%>
      <h1 title="Element <%= element.name %>" id="data_element_title"><%= element.name %> - <%= element.description.split(".")[0] %></h1>
    <% } else { %>
      <% if (element.isEntry) { %>
        <h1 title="Entry Element <%= element.name %>" id="data_element_title"><%= titleize(element.name) %>
      <% } else { %>
        <h1 title="Element <%= element.name %>" id="data_element_title"><%= titleize(element.name) %></h1>
      <% } %>
    <% } %>
    <p class="lead subtitle" id="data_element_package"><%= element.namespace %></p>
  </div>

  <div class="frame-controls">
    <ul>
      <li><a class="auth-ghost-btn" href="../overview-summary.html">Back to overview</a></li>
    </ul>
  </div>

  <div class="responsive-container" id="main_contents">
    <div class="description">
      <dl>
        <% if (element.namespace.includes("ecqm.measure")) { -%>
          <dt>Rationale:</dt>
        <% } else if (element.namespace == "qdm.attribute" || element.namespace == "qdm.dataelement") { %>
          <dt>QDM Definition:</dt>
        <% } else if (element.namespace != "ecqm.unions") { %>
          <dt>Value Set Description from VSAC:</dt>
        <% } %>
        <dd>
        <% if (element.namespace == "ecqm.dataelement") { %>
          <%- include('./tables/dataElementDescription', { description: element.description }) -%>
        <% } else { %>
          <div class="block"><%- makeHtml(element.description) %></div>
        <% } %>
        </dd>
      </dl>
      <dl>
        <% if (element.hierarchy && !element.namespace.includes("ecqm.measure")) { -%>
            <% var finalElement = { path: element.namespacePath, name: element.name };
               var hierarchy = element.hierarchy.slice();
               hierarchy.push(finalElement);
               hierarchy.forEach(function(ancestor, i) { -%>
                <% if (i == hierarchy.length - 2 && ancestor.path != "shr-base" && ancestor.name != 'CmsEcqmComposition') { -%>
                  <% if (ancestor.path == "qdm-dataelement" ) { %> 
                  <dt>QDM Datatype:
                  <% } else { %>
                  <dt>Based On:
                  <% } %>
                    <a href="../<%= ancestor.path %>/<%= ancestor.name %>.html"><%= titleize(ancestor.name) %></a>
                  </dt>
                  <p><%= dataElements[ancestor.fqn].description %></p>
                <% } -%>
            <% }) -%>
        <% } -%>
      </dl>
      <% if (element.children.length) { -%>
      <dl>
        <dt>Direct Descendants:</dt>
        <dd>
          <ul class="class_list">
            <% element.children.forEach(function(child, i) { -%>
              <li>
                <a href="../<%= child.path %>/<%= child.name %>.html"><%= titleize(child.name) -%></a><% if (i < (element.children.length - 1)){ %>&nbsp;<% } -%>
              </li>
            <% }) -%>
          </ul>
        </dd>
      </dl>
      <% } %>
      <% if (element.usedBy.size) { -%>
        <% var nonUnions = [];
           var unions = [];
           element.usedBy.forEach(function(child, i) { -%>
            <% if (child.path != "ecqm-unions") {
              nonUnions.push(child)
            } else  { 
              unions.push(child)
            } -%>
        <% }) -%>
      <dl>
        <dt>Used By:</dt>
        <dd>
          <ul class="class_list">
            <% var usedBy = Array.from(nonUnions);
               usedBy.sort((a, b) => { return a.name.localeCompare(b.name) });
               usedBy.forEach(function(child, i) { -%>
              <li>
                <a href="../<%= child.path %>/<%= child.name %>.html"><%= titleize(child.name) -%></a><% if (i < (usedBy.length - 1)) { %>&nbsp;<% } -%>
              </li>
            <% }) -%>
          </ul>
        </dd>
      </dl>
        <% if (unions.length > 0) { -%>
        <dl>
          <dt>Included in Unions:</dt>
          <dd>
            <ul class="class_list">
              <% unions.sort((a, b) => { return a.name.localeCompare(b.name) });
                 unions.forEach(function(child, i) { -%>
                <li>
                  <a href="../<%= child.path %>/<%= child.name %>.html"><%= titleize(child.name) -%></a><% if (i < (unions.length - 1)) { %>,&nbsp;<% } -%>
                </li>
              <% }) -%>
            </ul>
          </dd>
        </dl>
        <% } %>
      <% } %>
    </div>
    <div class="description">
    </div>
    <% if (hasMoreThan0Fields(element)) { %>
      <div class="summary">
        <ul class="blockList">
          <li class="blockList">
            <!-- ========== PROPERTY SUMMARY =========== -->
            <ul class="blockList">
              <li class="blockList">
                <a name="method_summary">
                </a>
                <div class="data-elements">
                    <% if (element.namespace.includes("ecqm.measure")) { -%>
                      <h3>Data Elements</h3>
                    <% } else if (element.namespace == 'ecqm.unions') { %> 
                      <h3>Data Elements contained within the Union</h3>
                    <% } else { %>
                      <h3>QDM Attributes</h3>
                    <% } %>
                    <% if (element.overridden !== undefined && element.overridden.length) { -%>
                      <%- include('./tables/overridenTable', { element: element }) -%>
                    <% } -%>
                    <%- include('./tables/definedTable', { element: element, dataElements: dataElements }) -%>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% } %>
  </div>
  <!-- ========= END OF CLASS DATA ========= -->

<%- include('_footer'); %>
</body>

</html>
