<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!-- NewPage -->
<head>
  <title>Overview List (<%= metaData.projectShorthand %>)</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="date" content="2016-01-11"/>
  <meta name="keywords" content="Overview List, <%= metaData.projectShorthand %>"/>
  <link rel="stylesheet" type="text/css" href="/css/qpp.ecqi.css" title="Style" />
  <script type="text/javascript">
  //<![CDATA[
    function loadPackageFrames(pkgContent, pkgInfo)
    {
      parent.packageFrame.location=pkgContent;
      parent.classFrame.location=pkgInfo;
    }
  //]]>
  </script>
</head>
<body class="data-element-repository-frame">
<%- include('_drupal_elements', { pageName: `${metaData.projectShorthand}-overview-frame` }); _%>

<div class="responsive-container">

  <div class="all-classes"><a href="allclasses-frame.html" target="packageFrame">All Classes</a></div>

  <label>Packages</label>
  
  <ul title="Packages">
  <% namespaces.forEach((namespace) => { -%>
    <% if (namespace.name.split(".")[0] != "shr") { %> 
      <li><a name="<%= namespace.name %>" href="#" onclick="loadPackageFrames('<%= namespace.path %>/<%= namespace.path %>-pkg.html','<%= namespace.path %>/<%= namespace.path %>-info.html')"><%= namespace.name %></a></li>
    <% } %>
  <% }) -%>
</ul>
</div>
<p>&nbsp;</p>
</body>
</html>
