<%- include('_header'); %>
<%- include('_drupal_elements', { pageName: `${metaData.projectShorthand}-overview-summary` }); _%>

<div class="header" name="mainContent" id="main_contents">
  <div class="data-element-repository">
    <div class="title-cover background-lines-effect content-page">
      <h1><%= metaData.projectName %> (<%= metaData.projectShorthand %>)</h1>
    </div>
    <nav class="navbar navbar-subsection" role="navigation" aria-label="navigation">
      <div class="responsive-container">
        <ul class="nav navbar-nav">
          <% namespaces.forEach((namespace) => { -%>
          <% if (namespace.name.split(".")[0] != "shr") { %>
          <li><a href="<%= namespace.path %>/<%= namespace.path %>-info.html">
              <%= namespace.name %></a></li>
          <% } %>
          <% }) -%>
        </ul>
      </div>
    </nav>
  </div>

  <div class="frame-controls">
    <ul>
      <li><a href="index.html" class="frameToggler auth-ghost-btn">Frames</a></li>
      <li><a href="overview-summary.html" class="frameToggler auth-ghost-btn">No Frames</a></li>
    </ul>
  </div>

  <div class="content-container">

    <div class="sidenav-container">
      <div id="qpp-nav-sidebar"></div>
    </div>

    <div class="content-block" id="mainContent" tabindex="-1">
      <div class="responsive-container">
        <% elements.sort(fieldSort).forEach((element, index) => { -%>
                <div class="overview-element">
                  <div class="overview-name">
                    <% if (element.namespacePath == "ecqm-measure" ) { %>
                      <a href="<%= element.namespacePath %>/<%= element.name %>.html"><%= element.name %></a>
                    <% } else { %>
                      <a href="<%= element.namespacePath %>/<%= element.name %>.html"><%= titleize(element.name) %></a>
                    <% } %>
                  </div>
                  <div class="overview-description">
                    <% if (element.namespace == "ecqm.dataelement") { %>
                      <%- include('./tables/dataElementDescription', { description: element.description, valueSet: findValueSet(element, elements) }) -%>
                    <%} else { %>
                      <div class="block">
                        <%- makeHtml(element.description) %>
                      </div>
                    <% } %>
                  </div>
              </div>
        <% }) -%>
      </div>
    </div>
  </div>
</div>

<%- include('_footer'); %>
</body>
</html>
